<!DOCTYPE html>

<html>

<body>

<h1>Add Equipment</h1>

<form method="POST">

<input
name="equipment_name"
placeholder="Equipment Name"
required>

<br><br>

<input
name="serial_number"
placeholder="Serial Number"
required>

<br><br>

<input
name="department"
placeholder="Department">

<br><br>

<input
type="date"
name="purchase_date">

<br><br>

<select name="status">

<option>
Active
</option>

<option>
Under Maintenance
</option>

<option>
Decommissioned
</option>

</select>

<br><br>

<button>
Save
</button>

</form>

</body>

</html>